.register {
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: antiquewhite;

    div {
        width: 200px;
        .title {
            font-size: 20px;
            font-family: sans-serif;
            color: darkgreen;
        }

        .form_container {
            width: fit-content;

            div {
                padding-bottom: 20px;
            }

            .submit_button {
                display: flex;
                justify-content: center;
            }
        }

        .reg_error {
            color: rgb(255, 38, 0);
            font-family: sans-serif;
        }
    }
}